/*
 First External CSS Stylesheet
 */
/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}
.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}


.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}

header {
  background: #333;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
}

h2 {
  font-size: 20px;
}

a {
  color: #d21034;
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main-temp,
#main-content {
  float: left;
}

#sidebar {
  float: right;
}

#temp-image {
  float: left;
}

#figure {
  position: relative;
}

#fig-name {
  position: absolute;
    top: 150px;
    left: 210px
}

#visualization {
  position: absolute;
    top: 150px;
    right: 210px
}

#main-temp {
  width: 60%;
}

#main-humi {
  width: 60%;
}

#contact-info {
  width: 30%;
}

#temp-image1 {
  width: 180px;
  height: 180px;
  margin-right: 20px;
  margin-top: 20px;
}

#temp-image {
  width: 180px;
  height: 180px;
  margin-right: 20px;
}

#temp-image2 {
  width: 480px;
  height: 360px;
  margin-right: 20px;
  margin-top: 20px;
}

#cloud-image {
  width: 180px;
  height: 180px;
  margin-right: 20px;
}

#humi-image {
  width: 180px;
  height: 180px;
  margin-right: 20px;
}

#humi-image2 {
  width: 480px;
  height: 360px;
  margin-right: 20px;
  margin-top: 20px;
}

#windsp-image {
  width: 180px;
  height: 180px;
  margin-right: 20px;
}
